.card-wrapper {
    max-width: 200px;
    border: 1px solid gray;
    margin: 5px;
    padding: 10px;
    &:hover {
        cursor: pointer;
    }
    .playlist-button {
        background-color:rgb(233, 190, 133);
        color: black;
        min-width: 150px;
        padding: 5px;
        margin-top: 10px;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }
}